<a href="https://colab.research.google.com/github/AMBUJ-SURYANARAYAN-PANDEY/MoRaL0P/blob/main/Copy_of_kk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = "star,manget,car" 
print(a[::-1])
print(a.upper())    #upper n lower 
print(a.lower())
b = a.split(',')    #split()
print(b)
print(b[1])
print(f"welcome to data scientist {a} !")   #f to add string

rac,tegnam,rats
STAR,MANGET,CAR
star,manget,car
['star', 'manget', 'car']
manget
welcome to data scientist star,manget,car !

#Function

#Intializing and Calling function

In [6]:
def welcome():  # function(def,init,call)
  print("hello ambuj ias officer !!!")

In [7]:
welcome()

hello ambuj ias officer !!!

#Intializing and calling function with Argument

In [ ]:
def welcome(a):   #arguement
  print("King {0},anuj!!!".format(a))
welcome("love")

In [ ]:
a = [1,2,3,4,5]
from random import shuffle   #shuffle
shuffle(a)
print(a)
a.append(7)                  #append
print(a)
b = ["champ",21,99.5]
b.reverse()                 #reverse
print(b)
c=[a,b]                     #addition as well as taking index [0][0]
print(c)
print(c[0])
print(c[0][0])
print(b)
print(a,b)
print(len(a))              #len(a)
print(b[0])
print(a[:2])
print(b[:1])
print(a+b)                #addition
print(min(a))             #min n max
print(max(a))
print(a[0][0])            #calling index of index [0][0]


"""print(a*b)
print(a-b)
print(a/b)
print(a%b)"""

[4, 5, 2, 3, 1]
[4, 5, 2, 3, 1, 7]
[99.5, 21, 'champ']
[[4, 5, 2, 3, 1, 7], [99.5, 21, 'champ']]
[4, 5, 2, 3, 1, 7]
4
[99.5, 21, 'champ']
[4, 5, 2, 3, 1, 7] [99.5, 21, 'champ']
6
99.5
[4, 5]
[99.5]
[4, 5, 2, 3, 1, 7, 99.5, 21, 'champ']
1
7

TypeError: ignored

#Print & Run

In [22]:
def add(a,b):
  add = a + b 
  print("Sum  of {0} & {1} is {2}".format(a,b,add))

In [25]:
def addR(a,b):
  add = a + b 
  return add

In [24]:
add(45,5)

Sum  of 45 & 5 is 50

#Practice Prject - Extracting Prime no.

In [68]:
def check(numbers):
  primeNumber = []
  for number in numbers:
    if number > 1:
      for i in range(2, int(number/2)+1):
        if (number % i ) == 0:   #number is fully divisible by 2 then it cannot be prime number
            print(number, "Not a Prime no.")
            break 
        else:
           print(number, "Prime no.")
           primeNumber.append(number)
    else:
       pass
  return primeNumber

In [79]:
check([2,3,4,5,6])

4 Not a Prime no.
5 Prime no.
6 Not a Prime no.

[5]

#Map function - Map a function to an iterable object

In [75]:
def cubefn(num):      #cube functtion
  return num**3

In [76]:
a = [1,2,3,4,5]
list(map(cubefn,a))    #cube fn with map

[1, 8, 27, 64, 125]

#Filter function - Yields items of iterable in which function is  true

In [85]:
def evenfn(num):
  return num % 2 == 0

In [87]:
a = [0,1,2,3,4,5,6,7,8,9,10]
#print(list(map(evenfn,a)))
print(list(filter(evenfn,a)))

[0, 2, 4, 6, 8, 10]

In [88]:
a = [0,1,2,3,4,5,6,7,8,9,10]
print(list(map(evenfn,a)))   # map n filter comparision to show true 
print(list(filter(evenfn,a)))

[True, False, True, False, True, False, True, False, True, False, True]
[0, 2, 4, 6, 8, 10]

#Lambda function - To  Create anonymous functions,arguments using def

In [90]:
#Normal fn
def cubefn(num):      #cube functtion
  return num**3
cubefn(3)

27

In [92]:
#Lambda fn
cubefn = lambda num:num ** 3
cubefn(3)

27

# *args & ***kwargs

In [93]:
#Normal fn, with arguments 
def addR(a,b,c):
  add = a+b+c
  return add
addR(1,2,3)

6

In [95]:
#Purpose of *args
def addR(*a): #we can write anything in place of args just we have to add * ahead of it(*argg,*b) by giving * ahead of any argument we can take numbers of argumnets result
   return sum(a)
addR(1,2,3,4,5,6)

21

# **kwargs - dictionary of key/value pairs

In [97]:
#Purpose of **kwargs 
def func(**kwargs):
  if "name" in kwargs:
    print("My name is {0}".format(kwargs["name"]))
  if "age" in kwargs:
    print("My age is {0}".format(kwargs["age"]))
  else:
    print("No key Found")

func(name="KinG",age=22,n = 3)   #it cannot print extra arguements

My name is KinG
My age is 22

#Object Oriented Programming(OOPs)
#Student
#User defined Objects created x using using Class - Intializing Class

In [100]:
class Student:
  print("Hello All")
x = Student()     #Object Instantiation
print(type(x))

Hello All
<class '__main__.Student'>

In [101]:
class student:
  def func():
    print("Hello all")
student.func()

Hello all

In [102]:
class student:
  def func(self):
    print("hello all")
x=student()   #object instantiation 
x.func()

hello all

#Class Object attribute - same for any instance of the class

In [110]:
class student:
  year = 2022
  def func(self):
    print("Hello all")
x = student()   # object instantiation 
x.year

'2022'

In [112]:
class student:
  year = 2022
  def func(self):
    print("Hello all", self.year)
x = student()
x.func()

Hello all 2022

#Attribute of an object (Characteristics of an object) Attribute won't take any argument

In [119]:
class student:
  def __init__(self,name): #__init__ (Method) to initialize attribute of an object (constuctor)
     self.name = name  #self.name = attribute initialized 
     #(Creating Insurance of student class (object of bcertain class))
king = student(name = "KinG  AnuJ !")  #name: argument

print(king.name)  #accessing class attribute through object

KinG  AnuJ !

In [121]:
class student:
  def __init__(self,name):
    self.name = name
king = student(name = "KING ANUJ !")
love = student(name ="MOM DAD BHAII !")

print(king.name)
print(love.name)

KING ANUJ !
MOM DAD BHAII !

In [129]:
class student:
  def __init__(self,name,age):
    self.name = name
    self.age = age
king = student(name = "KinG AnuJ !",age = 22)
love = student(name = "MoM DaD BhaII !",age = 104)

print(king.name)
print(king.age)
print(love.name)
print(love.age)

KinG AnuJ !
22
MoM DaD BhaII !
104

In [132]:
class Student:
  Total = 500

  def __init__(self,marks):
    self.marks = marks
    print("Intialized...")
  def findloss(self):
    return self.Total - self.marks
  def findPercentage(self):
    return self.marks/self.Total*100

a = Student(marks = 450)

print("Total Marks:",a.Total)
print("Lossed Marks:",a.findloss())
print("Percentage is:",a.findPercentage())

Intialized...
Total Marks: 500
Lossed Marks: 50
Percentage is: 90.0

#Special Methods

In [134]:
class Student:
  Total = 500

  def __init__(self,name,marks,gender):
    self.name= name
    self.marks = marks
    self.gender = gender
    print("Intialized...")

  def __len__(self):
    return self.marks

  def __str__(self):
    return "Name: %s | Marks: %s | Gender: %s "%(self.name,self.marks,self.gender)

  def __del__(self):
    print("student Database is Deleted")

a = Student("KinG",450,"male")

print(a)
print("Marks: ",len(a))
del a

Intialized...
Name: KinG | Marks: 450 | Gender: male
Marks:  450
student Database is Deleted

#Inheritance - Help to reduce complexity of the program 

#Base class & Derived class

In [135]:
class KinG:    #Base class(child)
  def __init__(self):
    print("Profile Created")
 
  def name(self):
    print("KinG AnuJ")
 
  def age(self):
    print("40")

class Love(KinG):     #Derived class (Parent)
  def __init__(self):
    KinG.__init__(self)
    print("Company Profile Created")
 
  def name(self):
    print("Love")

  def type(self):
    print("Private Exclusive Shop")

In [136]:
a = Love()

Profile Created
Company Profile Created

In [139]:
a.age()

40

In [137]:
a.name()  #Derived class modified behaviour of base class

Love

#Polymorphism
Diffrerent object classes can share the same method name,and those methods can be called from the same place even though a different objects passed in

In [140]:
class KinG:
  def __init__(self,name):
    self.name = name 
  
  def type(self):
    return "Enterpreneur"

class Sundar:
  def __init__(self,name):
    self.name = name

  def type(self):
    return "CEO"

person1 = KinG("KinG AnuJ")  #name: argument
person2 = Sundar("Sundar Pichai")

In [141]:
#returning unique result of object which have same method(type)
print(person1.type())
print(person2.type())

Enterpreneur
CEO

In [143]:
for i in [person1,person2]:
  print(i.name)
  print(i.type())
  print("***************")

KinG AnuJ
Enterpreneur
***************
Sundar Pichai
CEO
***************

In [ ]:
#@title For loop, if-elif, odd n even, while, break, range
a =[1,2,3,4,5,6]    #for loop
for i in a:
  print(i)
a = [i for i in 'KING']
a
a =[1,2,3,4]    # for {if-elif}
print("\n")
for i in a:     #odd n even
  if i % 2 == 0:
    print(i,"Even no.")
  else:
    print(i,"Odd no.")
print("\n")
for a in "Hello World":
   print(a)
print("\n")
a = 0        #while
while a < 10:
  print(a)
  a+=1
print("\n")  #break the line("\n")
for a in range(6):    #range
  print(a)

1
2
3
4
5
6


1 Odd no.
2 Even no.
3 Odd no.
4 Even no.


H
e
l
l
o

W
o
r
l
d


0
1
2
3
4
5
6
7
8
9


0
1
2
3
4
5

#while break n continue

In [ ]:
a = 0
while a < 10:    #while B & C
  print(a)
  a+=1
  if a ==5:
    print("a is equal to 5")
    break
  else:
    print("continueee")
    continue

0
continueee
1
continueee
2
continueee
3
continueee
4
a is equal to 5

#Range 
#Range("start point,End,increment(++))
#Range("start,End,--)
#Range("square,range")
#Range if

In [ ]:
for a in range(6):         #Range
  print(a)
print("\n")
for a in range(1,12,2):    #Range("S,E,++")
  print(a)
print("\n")
for a in  range(14,1,-2):  #Range("S,E,--") 
  print(a)
print("\n")
a = [i**2 for i in range(0,6)]  #square,range
a
print("\n")
a = [i for i in range(10) if i % 2 == 0]
print(a) 
print("\n")

0
1
2
3
4
5


1
3
5
7
9
11


14
12
10
8
6
4
2




[0, 2, 4, 6, 8]

#Enumerate-To track no. of iteration in the loop,without working with variable increment

In [ ]:
a = 0
for i,a in enumerate("Hello King"):
  print(i,a)

0 H
1 e
2 l
3 l
4 o
5
6 K
7 i
8 n
9 g

#Zip - Creating a tuples 2 list

In [ ]:
a = ["Name","Age","Country"]
b = ["KING",22,"India"]
list(zip(a,b))

[('Name', 'KING'), ('Age', 22), ('Country', 'India')]

In [ ]:
#@title DICTIONARY-for
a = {"Name":"ANUJ","Age":"22","Company":['KING','love']}  #dictionary-for
for k,v in a.items():
   print(k)
   #print(v)

Name
Age
Company

In [ ]:
#@title dictionary-for
a = {"Name":"ANUJ","Age":"22","Company":['KING','love']}   #dictionary-for
for k,v in a.items():
   print(k)
   print(v)

Name
ANUJ
Age
22
Company
['KING', 'love']

In [ ]:
#@title Dictionary("keys,values,items")
a={"Name":"KING","Age":23,"Company":["Qconnect","kunjvihar"]}   #dictionarty ("keys,items,values")
print(a["Name"])
a["Age"]=22
a
print(a.keys())
print(a.values())
print(a.items())

KING
dict_keys(['Name', 'Age', 'Company'])
dict_values(['KING', 22, ['Qconnect', 'kunjvihar']])
dict_items([('Name', 'KING'), ('Age', 22), ('Company', ['Qconnect', 'kunjvihar'])])

In [ ]:
#@title Set()
a = set()     #set()
a.add("ANUJ")
a.add("OP")
a

{'ANUJ', 'OP'}

In [ ]:
#@title if - else, boolean(T{1} / F{0})
a = True    #if -else (boolean true n fale)
if a:
  print("++")
else:
  print("--")


a = 6     #Boolean (T(1) / F (0))
b = 7
print(a<b)
print(a>b)

++

In [ ]:
#@title if-elif 
a= 5      # if -elif condition
b=7
c=8
if a<b:
  print("a less than b")
elif c==b:
  print("a is equal to b")
else:
  print("a is not less than b")

a less than b