<a href="https://colab.research.google.com/github/AMBUJ-SURYANARAYAN-PANDEY/MoRaL0P/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Perform basic EDA

In [2]:
#Load the required libraries
import pandas as pd
import numpy as np
import seaborn as sns

#Load the data
df = pd.read_csv('titanic.csv')


#View the data
df.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

#Basic Information ABOUT DATA --> EDA

In [ ]:
#Basic information

df.info()

#Describe the data

df.describe()

#Duoplicate the Values

In [ ]:
#Find the duplicates

df.duplicated().sum()

#Unique Values in the data

In [ ]:
#unique values

df['Pclass'].unique()

df['Survived'].unique

df['Sex'].unique()

In [ ]:
array([3, 1, 2], dtype=  int64)

array([0, 1], dtype= int64)

array(['male', 'female'],dtype=object)

#Visualize the count

In [ ]:
#Plot the unique values

sns.countplot(df['Pclass']).unique()

#Find the null value

In [16]:
#Find null values

df.isnull().sum()

PassengerId    0
Survived       0
dtype: int64

In [ ]:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2

dtype: int64

#know the data values

In [ ]:
#Datatypes

df.dtypes

In [ ]:
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age             object
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object

dtype: object

#Filter the data

In [ ]:
#Filter data

df[df['Pclass']==1].head()

#A Quick Box Plot

In [ ]:
#Boxplot

df[['Fare']].boxplot()

#Correlation Plot - EDA

In [ ]:
#Correlation 

df.corr()

In [ ]:
#Correlation plot

sns.heatmap(df.corr())