<a href="https://colab.research.google.com/github/AMBUJ-SURYANARAYAN-PANDEY/MoRaL0P/blob/main/kk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = "star,manget,car" 
print(a[::-1])
print(a.upper())
print(a.lower())
b = a.split(',')
print(b)
print(b[1])
print(f"welcome to data scientist {a} !")

rac,tegnam,rats
STAR,MANGET,CAR
star,manget,car
['star', 'manget', 'car']
manget
welcome to data scientist star,manget,car !

In [17]:
a = [1,2,3,4,5]
from random import shuffle 
shuffle(a)
print(a)
a.append(7)
print(a)
b = ["champ",21,99.5]
b.reverse()
print(b)
c=[a,b]
print(c)
print(c[0])
print(c[0][0])
print(b)
print(a,b)
print(len(a))
print(b[0])
print(a[:2])
print(b[:1])
print(a+b)
print(min(a))
print(max(a))
print(a[0][0])


"""print(a*b)
print(a-b)
print(a/b)
print(a%b)"""

[4, 5, 2, 3, 1]
[4, 5, 2, 3, 1, 7]
[99.5, 21, 'champ']
[[4, 5, 2, 3, 1, 7], [99.5, 21, 'champ']]
[4, 5, 2, 3, 1, 7]
4
[99.5, 21, 'champ']
[4, 5, 2, 3, 1, 7] [99.5, 21, 'champ']
6
99.5
[4, 5]
[99.5]
[4, 5, 2, 3, 1, 7, 99.5, 21, 'champ']
1
7

TypeError: ignored

In [42]:
a =[1,2,3,4,5,6]
for i in a:
  print(i)
a = [i for i in 'KING']
a
a =[1,2,3,4]
for i in a:
  if i % 2 == 0:
    print(i,"Even no.")
  else:
    print(i,"Odd no.")
print("\n")
for a in "Hello World":
   print(a)
print("\n")
a = 0
while a < 10:
  print(a)
  a+=1

1
2
3
4
5
6
1 Odd no.
2 Even no.
3 Odd no.
4 Even no.


H
e
l
l
o

W
o
r
l
d


0
1
2
3
4
5
6
7
8
9

In [39]:
a = {"Name":"ANUJ","Age":"22","Company":['KING','love']}
for k,v in a.items():
   print(k)
   #print(v)

Name
Age
Company

In [40]:
a = {"Name":"ANUJ","Age":"22","Company":['KING','love']}
for k,v in a.items():
   print(k)
   print(v)

Name
ANUJ
Age
22
Company
['KING', 'love']

In [20]:
a={"Name":"KING","Age":23,"Company":["Qconnect","kunjvihar"]}
print(a["Name"])
a["Age"]=22
a
print(a.keys())
print(a.values())
print(a.items())

KING
dict_keys(['Name', 'Age', 'Company'])
dict_values(['KING', 22, ['Qconnect', 'kunjvihar']])
dict_items([('Name', 'KING'), ('Age', 22), ('Company', ['Qconnect', 'kunjvihar'])])

In [22]:
a = set()
a.add("ANUJ")
a.add("OP")
a

{'ANUJ', 'OP'}

In [23]:
a = True
if a:
  print("++")
else:
  print("--")

++

In [24]:
a= 5
b=7
c=8
if a<b:
  print("a less than b")
elif c==b:
  print("a is equal to b")
else:
  print("a is not less than b")

a less than b