<a href="https://colab.research.google.com/github/AMBUJ-SURYANARAYAN-PANDEY/MoRaL0P/blob/main/kk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = "star,manget,car" 
print(a[::-1])
print(a.upper())    #upper n lower 
print(a.lower())
b = a.split(',')    #split()
print(b)
print(b[1])
print(f"welcome to data scientist {a} !")   #f to add string

rac,tegnam,rats
STAR,MANGET,CAR
star,manget,car
['star', 'manget', 'car']
manget
welcome to data scientist star,manget,car !

In [17]:
a = [1,2,3,4,5]
from random import shuffle   #shuffle
shuffle(a)
print(a)
a.append(7)                  #append
print(a)
b = ["champ",21,99.5]
b.reverse()                 #reverse
print(b)
c=[a,b]                     #addition as well as taking index [0][0]
print(c)
print(c[0])
print(c[0][0])
print(b)
print(a,b)
print(len(a))              #len(a)
print(b[0])
print(a[:2])
print(b[:1])
print(a+b)                #addition
print(min(a))             #min n max
print(max(a))
print(a[0][0])            #calling index of index [0][0]


"""print(a*b)
print(a-b)
print(a/b)
print(a%b)"""

[4, 5, 2, 3, 1]
[4, 5, 2, 3, 1, 7]
[99.5, 21, 'champ']
[[4, 5, 2, 3, 1, 7], [99.5, 21, 'champ']]
[4, 5, 2, 3, 1, 7]
4
[99.5, 21, 'champ']
[4, 5, 2, 3, 1, 7] [99.5, 21, 'champ']
6
99.5
[4, 5]
[99.5]
[4, 5, 2, 3, 1, 7, 99.5, 21, 'champ']
1
7

TypeError: ignored

In [49]:
#@title For loop, if-elif, odd n even, while, break, range
a =[1,2,3,4,5,6]    #for loop
for i in a:
  print(i)
a = [i for i in 'KING']
a
a =[1,2,3,4]    # for {if-elif}
print("\n")
for i in a:     #odd n even
  if i % 2 == 0:
    print(i,"Even no.")
  else:
    print(i,"Odd no.")
print("\n")
for a in "Hello World":
   print(a)
print("\n")
a = 0        #while
while a < 10:
  print(a)
  a+=1
print("\n")  #break the line("\n")
for a in range(6):    #range
  print(a)

1
2
3
4
5
6


1 Odd no.
2 Even no.
3 Odd no.
4 Even no.


H
e
l
l
o

W
o
r
l
d


0
1
2
3
4
5
6
7
8
9


0
1
2
3
4
5

#while break n continue

In [44]:
a = 0
while a < 10:    #while B & C
  print(a)
  a+=1
  if a ==5:
    print("a is equal to 5")
    break
  else:
    print("continueee")
    continue

0
continueee
1
continueee
2
continueee
3
continueee
4
a is equal to 5

#Range 
#Range("start point,End,increment(++))
#Range("start,End,--)
#Range("square,range")
#Range if

In [56]:
for a in range(6):         #Range
  print(a)
print("\n")
for a in range(1,12,2):    #Range("S,E,++")
  print(a)
print("\n")
for a in  range(14,1,-2):  #Range("S,E,--") 
  print(a)
print("\n")
a = [i**2 for i in range(0,6)]  #square,range
a
print("\n")
a = [i for i in range(10) if i % 2 == 0]
print(a) 
print("\n")

0
1
2
3
4
5


1
3
5
7
9
11


14
12
10
8
6
4
2




[0, 2, 4, 6, 8]

#Enumerate-To track no. of iteration in the loop,without working with variable increment

In [61]:
a = 0
for i,a in enumerate("Hello King"):
  print(i,a)

0 H
1 e
2 l
3 l
4 o
5
6 K
7 i
8 n
9 g

#Zip - Creating a tuples 2 list

In [62]:
a = ["Name","Age","Country"]
b = ["KING",22,"India"]
list(zip(a,b))

[('Name', 'KING'), ('Age', 22), ('Country', 'India')]

In [47]:
#@title DICTIONARY-for
a = {"Name":"ANUJ","Age":"22","Company":['KING','love']}  #dictionary-for
for k,v in a.items():
   print(k)
   #print(v)

Name
Age
Company

In [40]:
#@title dictionary-for
a = {"Name":"ANUJ","Age":"22","Company":['KING','love']}   #dictionary-for
for k,v in a.items():
   print(k)
   print(v)

Name
ANUJ
Age
22
Company
['KING', 'love']

In [20]:
#@title Dictionary("keys,values,items")
a={"Name":"KING","Age":23,"Company":["Qconnect","kunjvihar"]}   #dictionarty ("keys,items,values")
print(a["Name"])
a["Age"]=22
a
print(a.keys())
print(a.values())
print(a.items())

KING
dict_keys(['Name', 'Age', 'Company'])
dict_values(['KING', 22, ['Qconnect', 'kunjvihar']])
dict_items([('Name', 'KING'), ('Age', 22), ('Company', ['Qconnect', 'kunjvihar'])])

In [22]:
#@title Set()
a = set()     #set()
a.add("ANUJ")
a.add("OP")
a

{'ANUJ', 'OP'}

In [23]:
#@title if - else, boolean(T{1} / F{0})
a = True    #if -else (boolean true n fale)
if a:
  print("++")
else:
  print("--")


a = 6     #Boolean (T(1) / F (0))
b = 7
print(a<b)
print(a>b)

++

In [24]:
#@title if-elif 
a= 5      # if -elif condition
b=7
c=8
if a<b:
  print("a less than b")
elif c==b:
  print("a is equal to b")
else:
  print("a is not less than b")

a less than b